.create-event {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-event .field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.create-event input[type='text'] {
  border-radius: 5px;
}

.create-event label {
  position: relative;
  left: 8px;
}
.create-event input::placeholder {
  font-size: 1.2rem;
}

.create-event input[type='text'] {
  position: relative;
  right: 8px;
}
.create-event #start,
.create-event #end {
  max-width: 80px;
}
.create-event #start {
  margin-right: 12px;
}

.create-event button {
  width: 15rem;
}
