main {
  overflow-y: hidden;
  display: flex;
  align-items: center;
  height: 426px;
}

.reset-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9rem;
}

.reset-password-form label {
  display: block;
  margin: auto;
  font-size: 1.8rem;
  line-height: 2rem;
  text-align: center;
}

.reset-password-form input[type='text'] {
  height: 4rem;
  width: 23rem;
  border-radius: 3rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.reset-password-btn {
  width: 23rem;
  margin: 1.5rem 0 1.5rem 0;
  background: #ffb600;
  font-size: 1.8rem;
  border-radius: 3rem;
  padding: 1rem;
}
