*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
}

html {
  scroll-behavior: inherit;
  font-size: 10px;
  color: #fff;
}

*:focus {
  outline: none;
}

body {
  background: rgb(235, 234, 234);
  /* min-height: calc(100vh - 5rem); */
  border: 3px solid grey;
  overflow: hidden;
}

.mobile-wrapper {
  width: 280px;
  margin: 5rem auto;
  height: 586px;
  overflow: hidden;
}

img {
  /* display: block; */
  margin: auto;
  width: 10%;
}

.side-bar {
  position: relative;
  width: 195px;
  height: 100%;
  left: 276px;
  background: white;
  transition: all 0.5s linear;
}

.side-bar ul {
  list-style: none;
}

.side-bar li {
  padding: 15px 20px;
}

.menu-button {
  position: absolute;
  width: 250px;
  left: 150px;
  top: 10px;
}

.show-menu {
  left: 80px;
}

.hide-menu {
  left: 276px;
}
