nav {
  display: none;
  background: #fff;
  width: 0;
  height: 520px;
  transition: width 0.25s ease 0s;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  bottom: 0;
  left: 0;
}

.open {
  display: block;
  width: 250px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.main-header .navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.header-logo {
  width: 37px;
}
.logo h1 {
  margin-left: 5px;
  color: #000;
}

.menu-bar {
  width: 33px;
}

.nav-links {
  padding: 4rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 70%;
}

.nav-links li {
  background: #ffb600;
  border-radius: 40px;
  display: inline-block;
  text-align: center;
  padding: 5px 20px;
  font-size: 16px;
  width: 90%;
  font-weight: 300;
}

.nav-links li:not(:last-child) {
  margin-right: 20px;
}

.nav-links li a {
  transition: all 0.25s ease 0s;
  color: #000;
}

.nav-links li a:hover {
  color: white;
}

/* Search box */
.search-box-add {
  padding-bottom: 24px;
}

.search-form input[type='text'] {
  display: block;
  width: 90%;
  margin-top: 10px;
}

.search-form input[type='checkbox'] {
  display: inline-block;
  line-height: 25px;
  margin-top: 7px;
  margin-left: 10px;
}

.search-form label {
  font-size: 12px;
}

.search-box-add .more {
  display: inline-block;
  margin-top: 10px;
  font-size: 12px;
  width: 50px;
  padding: 1px 5px;
  background: #ffb600;
  border: 1px solid #ffb600;
  text-align: center;
  border-radius: 1.5rem;
  color: #000;
}

.add-btn {
  width: 50px;
  display: block;
  margin: 13px;
}

.progress {
  width: 55px;
}

/* Event card */
.events-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -15px;
}

.event-card:not(first-child) {
  margin-top: -40px;
}
.event-card {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
}

.event-1 {
  background: url(../assets/images/event-1.jpg) top/cover no-repeat;
}
.event-2 {
  background: url(../assets/images/event-2.jpg) top/cover no-repeat;
}
.event-3 {
  background: url(../assets/images/event-3.jpg) top/cover no-repeat;
}
.event-4 {
  background: url(../assets/images/event-4.jpg) top/cover no-repeat;
}
.event-5 {
  background: url(../assets/images/event-16.jpg) top/cover no-repeat;
}

/* Event header */
.event-header {
  display: flex;
  justify-content: space-around;
  padding: 20px 10px;
  margin-top: 50px;
}

.event-header h2 {
  text-align: left;
  justify-self: flex-start;
}

/* Event actions */
.event-actions {
  width: 80%;
  margin-bottom: 70px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 8px;
  border-radius: 20px;
}

.thumbs-up,
.thumbs-down {
  display: flex;
  align-items: center;
}
.up,
.down {
  width: 18px;
  margin-right: 4.5px;
}

.in,
.out {
  width: 60px;
  text-align: center;
  border-radius: 20px;
  padding: 2px 0;
  font-size: 1.5rem;
  color: white;
}
.in {
  color: #0c900c;
  border: 2px solid #0c900c;
  font-weight: 600;
}
.out {
  color: #e63212;
  border: 1px solid #e63212;
  font-weight: 400;
}

/* Event details */
.event-details {
  width: 100%;
  padding: 2px 20px 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
}

.date-time {
  color: #000;
  font-size: 2rem;
}

.date-time .date {
  font-size: 3.5rem;
}
.date-time .time {
  font-size: 1.7rem;
  color: #ffb600;
}
.location {
  width: 18px;
}
