.drawer {
  height: 100%;
  width: 80%;
  max-width: 85%;
  background: white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.drawer.open {
  transform: translateX(0);
}

.drawer .nav-links-drawer {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 70%;
  margin-top: 100px;
}

.drawer .nav-links-drawer li {
  background: #ffb600;
  border-radius: 40px;
  display: inline-block;
  text-align: center;
  /* padding: 10px 20px; */
  font-size: 1.6rem;
  margin-bottom: 2.2rem;
  min-width: 200px;
  font-weight: 300;
}

.drawer a {
  display: block;
  /* width: 100%; */
  /* height: 100%; */
  color: #111111;
  text-decoration: none;
  background: #ffb600;
  padding: 1rem 3.2rem;
  border-radius: 3rem;
}

.drawer a:hover {
  color: white;
  font-weight: 700;
}
.drawer a:active {
  color: #111111;
}
