/* UNIVERSAL RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
}

html {
  scroll-behavior: inherit;
  font-size: 10px;
  color: #000;
}

*:focus {
  outline: none;
}

body {
  background: rgb(235, 234, 234);
}

img {
  /* display: block; */
  margin: auto;
  width: 100%;
}

/* UTILITY */
.mobile-wrapper {
  width: 380px;
  margin: 2rem auto;
}

.container {
  width: 85%;
  margin: 0 auto;
}

/* TYPOGRAPHY */
h1,
h2 {
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
}

/* HEADER */
header {
  background: rgba(78, 71, 71, 0.1);
  display: flex;
  height: 80px;
  width: 300px;
  justify-content: space-between;
  margin: auto;
}

header p {
  padding-top: 0.5rem;
  text-align: center;
}

section {
  background: white;
}

/* NAv */
nav {
  display: none;
  background: rgba(255, 255, 255, 0.9);
  width: 0;
  height: 0;
  transition: all 0.25s ease 0s;
  position: absolute;
  right: 0;
  top: 80px;
  margin: 0;
  bottom: 0;
  left: -23px;
  z-index: 9999;
}

.open {
  display: block;
  width: 300px;
  height: 506px;
}

.header-nav {
  display: flex;
  align-items: center;
  position: relative;
}

.main-header .navigation {
  align-items: center;
}

.logo {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.header-logo {
  width: 37px;
}
.logo h1 {
  margin-left: 5px;
  color: #000;
}

.menu-bar {
  width: 33px;
}

.nav-links {
  padding: 4rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 70%;
}

.nav-links li {
  background: #ffb600;
  border-radius: 40px;
  display: inline-block;
  text-align: center;
  padding: 5px 20px;
  font-size: 1.6rem;
  width: 90%;
  font-weight: 300;
}

.nav-links li a {
  transition: all 0.25s ease 0s;
  color: #000;
}

.nav-links li a:hover {
  color: white;
}

/* MAIN */
main {
  background: white;
  display: flex;
  flex-direction: column;
  height: 506px;
  justify-content: flex-start;
  margin: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 1.3rem;
  width: 300px;
  z-index: -10;
}

main::-webkit-scrollbar {
  width: 0.5rem;
}

main::-webkit-scrollbar-track {
  background: white;
}

main::-webkit-scrollbar-thumb {
  background: #ffb600;
}

/* FOOTER */
footer {
  margin: auto;
  width: 300px;
}

/* OTHER COMMON ELEMENTS */
label {
  color: #000;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: left;
  width: 90px;
  margin-right: 7px;
}

input {
  border: 1px solid #909090;
  color: #909090;
  border-radius: 1.2rem;
  margin: 0.25rem auto;
  line-height: 2rem;
  text-align: center;
  font-size: 1.4rem;
}

input::placeholder {
  font-size: 1.4rem;
  color: #707070;
}

button {
  background: #ffb600;
  border: 1px solid #ffb600;
  height: 3rem;
  border-radius: 1.5rem;
  margin-top: 1.5rem;
  text-align: center;
  width: 9rem;
  cursor: pointer;
}

button:hover {
  color: white;
  font-weight: 700;
}

a {
  color: #000;
  text-align: center;
}

a:hover {
  color: white;
  font-weight: 700;
}
