.CreateEvent {
  height: 100vh;
  /* width: 50%; */
  margin: auto;
  color: white;
}
.CreateEvent-title {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: #111111;
}

.CreateEvent-Form {
  height: 100%;
  padding: 25px 40px;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.FormCenter {
  margin-bottom: 100px;
}

.FormField {
  margin-bottom: 40px;
}

.FormField-Label {
  display: block;
  text-transform: uppercase;
  font-size: 2rem;
  color: #111111;
}
.FormField-Input {
  background-color: transparent;
  border: none;
  color: #111111;
  outline: none;
  border-bottom: 2px solid #ffb600;
  font-size: 1.5rem;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 15px;
}

.FormField-Select {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 15px;
  padding: 5px;
  border-radius: 2rem;
  border: 2px solid #ffb600;
  color: #111111;
}

.FormField-Calendar {
  color: #111111;
  background: #dddddd;
  margin-top: 10px;
  padding: 5px;
  font-size: 2rem;
  border-radius: 2rem;
}
.react-datetime-picker__wrapper {
  display: flex;
  border: none;
}

.FormField-Text-Area {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ffb600;
}

.FormField-Input::placeholder {
  color: #616e7f;
}

.FormField-Button {
  /* width: 150px; */
  margin: 10px;
  background-color: #ffb600;
  color: #111111;
  border: none;
  outline: none;
  border-radius: 3rem;
  padding: 1rem 3.2rem;
  font-size: 2rem;
  cursor: pointer;
}
