/* Search box */
.search-box-add {
  padding-bottom: 24px;
}

.search-form input[type='text'] {
  display: block;
  width: 90%;
  margin-top: 10px;
}

.search-form input[type='checkbox'] {
  display: inline-block;
  line-height: 25px;
  margin-top: 7px;
  margin-left: 4px;
}

.search-form label {
  font-size: 12px;
}

.search-box-add .more {
  display: inline-block;
  margin-top: 10px;
  font-size: 12px;
  width: 50px;
  padding: 1px 5px;
  background: #ffb600;
  border: 1px solid #ffb600;
  text-align: center;
  border-radius: 1.5rem;
  color: #000;
}

.add-btn {
  width: 50px;
  display: block;
  margin: 13px;
  cursor: pointer;
}

.progress {
  width: 55px;
}

/* Event card */
.events-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -15px;
}

.event-card:not(first-child) {
  margin-top: -40px;
}
.event-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
}

.event-Other {
  background: url(../assets/images/event-Other.jpg) top/cover no-repeat;
}
.event-2 {
  /* background: url(../assets/images/event-2.jpg) top/cover no-repeat; */
}
.event-Party {
  background: url(../assets/images/event-Party.jpg) top/cover no-repeat;
}
.event-Presentation {
  background: url(../assets/images/event-Presentation.jpg) top/cover no-repeat;
}
.event-Sport {
  background: url(../assets/images/event-Sport.jpg) top/cover no-repeat;
}

/* Event header */
.event-header {
  display: flex;
  justify-content: space-around;
  padding: 20px 10px;
  color: #fff;
  margin-top: 50px;
}

.event-header h2 {
  text-align: left;
  justify-self: flex-start;
}

/* Event actions */
.event-actions {
  width: 80%;
  margin-bottom: 70px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 8px;
  border-radius: 20px;
}

.thumbs-up,
.thumbs-down {
  background: transparent;
  border: none;
  margin-top: 0;
  width: unset;
  height: unset;
  border-radius: unset;
  display: flex;
  align-items: center;
}
.up,
.down {
  width: 18px;
  margin-right: 4.5px;
}

.in,
.out {
  width: 60px;
  text-align: center;
  border-radius: 20px;
  padding: 2px 0;
  font-size: 1.5rem;
  color: white;
}
.in {
  color: #0c900c;
  border: 2px solid #0c900c;
  font-weight: 600;
}
.out {
  color: #e63212;
  border: 1px solid #e63212;
  font-weight: 400;
}

/* Event details */
.event-details {
  width: 100%;
  padding: 2px 20px 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
}

.date-time {
  color: #000;
  font-size: 2rem;
}

.date-time .date {
  font-size: 3.5rem;
}
.date-time .time {
  font-size: 1.7rem;
  color: #ffb600;
}
.location {
  width: 18px;
  cursor: pointer;
}
