/* NAv */
nav {
  display: none;
  background: rgba(255, 255, 255, 0.9);
  width: 0;
  height: 0;
  transition: all 0.25s ease 0s;
  position: absolute;
  right: 0;
  top: 80px;
  margin: 0;
  bottom: 0;
  left: -23px;
  z-index: 9999;
}

.open {
  display: block;
  width: 100%;
  height: 100vh;
}

.header-nav {
  display: flex;
  align-items: center;
  position: relative;
}

.main-header .navigation {
  align-items: center;
}

.logo {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.header-logo {
  width: 37px;
}
.logo h1 {
  margin-left: 5px;
  color: #000;
}

.menu-bar {
  width: calc(1.5vw + 35px);
  background: transparent;
  border: none;
  margin-top: 0;
  height: unset;
  border-radius: unset;
}

.nav-links {
  padding: 4rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 70%;
}

.nav-links li {
  background: #ffb600;
  border-radius: 40px;
  display: inline-block;
  text-align: center;
  padding: 5px 20px;
  font-size: 1.6rem;
  width: 90%;
  font-weight: 300;
}

.nav-links li a {
  transition: all 0.25s ease 0s;
  color: #000;
}

.nav-links li a:hover {
  color: white;
}
