.CreateEvent {
  height: 100vh;
  /* width: 50%; */
  margin: auto;
  color: white;
}
.CreateEvent-title {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: black;
}

.CreateEvent-Form {
  height: 100%;
  background-color: #353535;
  padding: 25px 40px;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.FormCenter {
  margin-bottom: 100px;
}

.FormField {
  margin-bottom: 40px;
}

.FormField-Label {
  display: block;
  text-transform: uppercase;
  font-size: 1em;
  color: white;
}
.FormField-Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #ffb600;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}
.FormField-Calendar {
  border: none;
  color: black;
  background: white;
  margin-top: 10px;
}

.FormField-Input::placeholder {
  color: #616e7f;
}

.FormField-Button {
  background-color: #ffb600;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: 0.8em;
  font-weight: 500;
}
